apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: vault-router
  namespace: vaultwarden
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`vault.attias.io`)
      kind: Rule
      services:
        - name: vaultwarden
          port: 80