global:
  resolve_timeout: 5m
  telegram_api_url: 'https://api.telegram.org'
inhibit_rules:
- equal:
  - namespace
  - alertname
  source_matchers:
  - severity = critical
  target_matchers:
  - severity =~ warning|info
- equal:
  - namespace
  - alertname
  source_matchers:
  - severity = warning
  target_matchers:
  - severity = info
- equal:
  - namespace
  source_matchers:
  - alertname = InfoInhibitor
  target_matchers:
  - severity = info
- target_matchers:
  - alertname = InfoInhibitor
receivers:
- name: 'telegram-alert'
  telegram_configs:
  - bot_token: '<BOT_ID>'
    chat_id: '<CHAT_ID>'
    parse_mode: 'HTML'
route:
  group_by: ['alertname', 'namespace', 'cluster']
  group_interval: 5m
  group_wait: 30s
  receiver: "telegram-alert"
  repeat_interval: 12h
  routes:
  - matchers:
    - alertname = "Watchdog"
    receiver: "null"
templates:
- /etc/alertmanager/config/*.tmpl