apiVersion: apps/v1
kind: Deployment
metadata:
  name: opencloud
  namespace: documents
  labels:
    app.kubernetes.io/name: opencloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: opencloud
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: opencloud
    spec:
      containers:
        - args:
            - -c
            - opencloud init || true; opencloud server
          command:
            - /bin/sh
          env:
            - name: COLLABORA_DOMAIN
              value: collabora.attias.io
            - name: FRONTEND_ARCHIVER_MAX_SIZE
              value: "10000000000"
            - name: FRONTEND_CHECK_FOR_UPDATES
              value: "true"
            - name: INITIAL_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cloud-secret
                  key: admin-password
            - name: IDM_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cloud-secret
                  key: admin-password
            - name: IDM_CREATE_DEMO_USERS
              value: "false"
            - name: NOTIFICATIONS_SMTP_AUTHENTICATION
              value: TLS
            - name: NOTIFICATIONS_SMTP_ENCRYPTION
              value: starttls
            - name: NOTIFICATIONS_SMTP_HOST
              value: smtp.gmail.com
            - name: NOTIFICATIONS_SMTP_INSECURE
              value: "false"
            - name: NOTIFICATIONS_SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cloud-secret
                  key: smtp-password
            - name: NOTIFICATIONS_SMTP_PORT
              value: "587"
            - name: NOTIFICATIONS_SMTP_SENDER
              value: "OpenCloud Notifications <notifications@cloud.attias.io>"
            - name: NOTIFICATIONS_SMTP_USERNAME
              value: christophe.attias@gmail.com
            - name: OC_ADD_RUN_SERVICES
              value: notifications
            - name: OC_DOMAIN
              value: cloud.attias.io
            - name: OC_INSECURE
              value: "false"
            - name: OC_LOG_COLOR
              value: "true"
            - name: OC_LOG_LEVEL
              value: info
            - name: OC_LOG_PRETTY
              value: "true"
            - name: OC_PASSWORD_POLICY_DISABLED
              value: "false"
            - name: OC_PASSWORD_POLICY_MIN_CHARACTERS
              value: "14"
            - name: OC_PASSWORD_POLICY_MIN_DIGITS
              value: "1"
            - name: OC_PASSWORD_POLICY_MIN_LOWERCASE_CHARACTERS
              value: "1"
            - name: OC_PASSWORD_POLICY_MIN_SPECIAL_CHARACTERS
              value: "1"
            - name: OC_PASSWORD_POLICY_MIN_UPPERCASE_CHARACTERS
              value: "1"
            - name: OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD
              value: "true"
            - name: OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD
              value: "true"
            - name: OC_URL
              value: https://cloud.attias.io
            - name: PROXY_ENABLE_BASIC_AUTH
              value: "false"
            - name: PROXY_TLS
              value: "false"
            - name: WOPISERVER_DOMAIN
              value: wopiserver.attias.io
            - name: OC_RUNTIME_HOST
              value: cloud.attias.io
            # - name: OC_CONFIG_DIR
            #   value: /etc/opencloud
            # - name: OC_DATA_DIR
            #   name: /var/lib/opencloud
          name: opencloud
          image: opencloudeu/opencloud-rolling:4.1.0
          ports:
            - containerPort: 9250
              protocol: TCP
          securityContext:
            runAsGroup: 0
            runAsUser: 0
          volumeMounts:
            - mountPath: /etc/opencloud
              name: opencloud-config
            - mountPath: /var/lib/opencloud
              name: opencloud-data
      restartPolicy: Always
      volumes:
        - name: opencloud-config
          persistentVolumeClaim:
            claimName: opencloud-config-pvc
        - name: opencloud-data
          persistentVolumeClaim:
            claimName: opencloud-data-pvc
