apiVersion: v1
kind: Service
metadata:
  name: mealie
  namespace: mealie
  labels:
    app.kubernetes.io/name: mealie
spec:
  type: LoadBalancer
  ports:
    - name: "9925"
      port: 80
      targetPort: 9000
  selector:
    app.kubernetes.io/name: mealie