apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homeassistant-router
  namespace: home
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`homeassistant.attias.io`)
      kind: Rule
      services:
        - name: homeassistant
          port: 8123
      priority: 10
      middlewares:
        - name: authentik
          namespace: traefik
    - kind: Rule
      match: "Host(`homeassistant.attias.io`) && PathPrefix(`/outpost.goauthentik.io/`)"
      priority: 15
      services:
          - kind: Service
            name: ak-outpost-authentik-embedded-outpost
            namespace: authentik
            port: 9000
  tls:
    certResolver: le