apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: memos-data
  namespace: documents
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: ceph-block
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: memos
  namespace: documents
spec:
  replicas: 1
  selector:
    matchLabels:
      app: memos
  template:
    metadata:
      labels:
        app: memos
    spec:
      containers:
      - name: memos
        image: neosmemo/memos:v0.25.3
        ports:
        - containerPort: 5230
        env:
        - name: MEMOS_MODE
          value: "prod"
        volumeMounts:
        - name: data
          mountPath: /var/opt/memos
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: memos-data
---
apiVersion: v1
kind: Service
metadata:
  name: memos
  namespace: documents
spec:
  selector:
    app: memos
  ports:
  - port: 5230
    targetPort: 5230