apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: memos-data
  namespace: documents
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: ceph-block
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: memos
  namespace: documents
spec:
  replicas: 1
  selector:
    matchLabels:
      app: memos
  template:
    metadata:
      labels:
        app: memos
        app.kubernetes.io/name: memos
    spec:
      containers:
      - name: memos
        image: neosmemo/memos:0.25.3
        ports:
        - containerPort: 5230
          name: http
          protocol: TCP
        env:
        - name: MEMOS_MODE
          value: "prod"
        - name: MEMOS_PORT
          value: "5230"
        - name: MEMOS_ADDR
          value: "0.0.0.0"
        volumeMounts:
        - name: data
          mountPath: /var/opt/memos
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: memos-data
---
apiVersion: v1
kind: Service
metadata:
  name: memos
  namespace: documents
spec:
  selector:
    app: memos
  type: ClusterIP
  ports:
    - port: 5230
      targetPort: http
      protocol: TCP
      name: http
