apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-router
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`obs.kiki.home`)
      kind: Rule
      services:
        - name: grafana
          port: 80
  tls:
    certResolver: le