[Unit]
Description=Restic Offsite Backup Service
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=kiki 
ExecStart=/home/kiki/restic/restic_backup.sh

