apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-router
  namespace: argocd
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`argocd.kiki.home`)
      kind: Rule
      services:
        - name: argocd-server
          port: 80