apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: internal-only
  namespace: traefik
spec:
  ipAllowList:
    sourceRange:
      - 127.0.0.1/32
      - 192.168.178.0/24
      # - 10.0.0.0/8
      # - 100.64.0.0/10
    # ipStrategy:
    #   excludedIPs:
    #     - 100.64.0.2/32