apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: internal-only
  namespace: traefik
spec:
  ipAllowList:
    sourceRange:
      - 127.0.0.1/32
      - 192.168.178.0/24
      - 100.64.0.0/10
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: internal-only-no-tailscale
  namespace: traefik
spec:
  ipAllowList:
    sourceRange:
      - 127.0.0.1/32
      - 192.168.178.0/24