apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homepage-router
  namespace: home
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`attias.io`) || Host(`home.kiki`)
      kind: Rule
      services:
        - name: homepage
          port: 80
  tls:
    certResolver: le