apiVersion: v1
kind: Service
metadata:
  name: homepage
  namespace: home
  labels:
    app.kubernetes.io/name: homepage
  annotations:
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
    - nodePort: 31825
  selector:
    app.kubernetes.io/name: homepage
