apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  syncPolicy:
    automated:
      enabled: true
      prune: false
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts/
    targetRevision: 79.5.0
    helm:
      releaseName: kube-prometheus-stack
      valuesObject:
        grafana:
          enabled: false
        prometheus:
          prometheusSpec:
            storageSpec:
              volumeClaimTemplate:
                spec:
                  selector:
                    matchLabels:
                      app.kubernetes.io/name: kube-prometheus-stack-pvc
                  resources:
                    requests:
                      storage: 50Gi
            serviceMonitorSelector: {}
            serviceMonitorNamespaceSelector: {}
            serviceMonitorSelectorNilUsesHelmValues: false
            podMonitorSelector: {}
            podMonitorNamespaceSelector: {}
            podMonitorSelectorNilUsesHelmValues: false
            probeSelector: {}
            probeNamespaceSelector: {}
            probeSelectorNilUsesHelmValues: false
            scrapeConfigSelector: {}
            scrapeConfigNamespaceSelector: {}
            scrapeConfigSelectorNilUsesHelmValues: false