apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  syncPolicy:
    automated:
      enabled: true
      prune: false
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts/
    targetRevision: 79.9.0
    helm:
      releaseName: kube-prometheus-stack
      valuesObject:
        grafana:
          enabled: false
        prometheus:
          prometheusSpec:
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: ceph-block
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 50Gi
        alertmanager:
          templateFiles:
            kikiserver.tmpl: |-
              {{ define "kikiserver.message" }}
              <b>KikiServer</b>: {{ .Status }}
              {{ end }}
          alertmanagerSpec:
            alertmanagerConfigSelector:
              matchLabels:
                alertmanagerConfig: alertmanager-slack
            alertmanagerConfigMatcherStrategy:
              type: None
