apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kube-prom-pvc
  namespace: monitoring
  labels:
    app.kubernetes.io/name: kube-prometheus-stack-pvc
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 50Gi
  storageClassName: ceph-block