# /usr/lib/systemd/system/glancesweb.service
[Unit]
Description = Glances in Web Server Mode
After = network.target

[Service]
ExecStart = /root/.local/bin/glances  -w  -t  5

[Install]
WantedBy = multi-user.target
