apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: bazarr-router
  namespace: arr
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`bazarr.attias.io`)
      kind: Rule
      services:
        - name: bazarr
          port: 6767
      middlewares:
        - name: authentik
          namespace: traefik
  tls:
    certResolver: le