apiVersion: apps/v1
kind: Deployment
metadata:
  name: lidarr
  namespace: arr
  labels:
    app.kubernetes.io/name: lidarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: lidarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: lidarr
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: UTC
          name: lidarr
          image: linuxserver/lidarr:latest
          ports:
            - containerPort: 7878
              protocol: TCP
          volumeMounts:
            - mountPath: /data
              name: synology-video-volume
            - mountPath: /config
              name: lidarr-config
      restartPolicy: Always
      volumes:
        - name: synology-video-volume
          hostPath:
            path: "/mnt/synology-videos" 
            type: DirectoryOrCreate
        - name: lidarr-config
          persistentVolumeClaim:
            claimName: lidarr-config-pvc