apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prowlarr-router
  namespace: arr
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`prowlarr.attias.io`)
      kind: Rule
      services:
        - name: prowlarr
          port: 9696
  tls:
    certResolver: le