apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: arr
  labels:
    app.kubernetes.io/name: prowlarr
  annotations:
    argocd-image-updater.argoproj.io/image-list: prowlarr=linuxserver/prowlarr:develop
    argocd-image-updater.argoproj.io/prowlarr.update-strategy: digest
    argocd-image-updater.argoproj.io/prowlarr.jsonpath: /spec/template/spec/containers/0/image
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: prowlarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: prowlarr
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: UTC
          image: linuxserver/prowlarr:develop
          name: prowlarr
          imagePullPolicy: Always
          ports:
            - containerPort: 9696
              protocol: TCP
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          volumeMounts:
            - mountPath: /data
              name: nas-media-volume
            - mountPath: /config
              name: prowlarr-config
      restartPolicy: Always
      volumes:
        - name: nas-media-volume
          hostPath:
            path: "/mnt/ugreen-media" 
            type: DirectoryOrCreate
        - name: prowlarr-config
          persistentVolumeClaim:
            claimName: prowlarr-config-pvc