apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prowlarr-router
  namespace: arr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`prowlarr.kiki.home`)
      kind: Rule
      services:
        - name: prowlarr
          port: 9696