apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: arr
  labels:
    app.kubernetes.io/name: radarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: radarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: radarr
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: UTC
          name: radarr
          image: linuxserver/radarr:latest
          ports:
            - containerPort: 7878
              protocol: TCP
          volumeMounts:
            - mountPath: /data
              name: synology-video-volume
            - mountPath: /config
              name: radarr-config
      restartPolicy: Always
      volumes:
        - name: synology-video-volume
          hostPath:
            path: "/mnt/synology-videos" 
            type: DirectoryOrCreate
        - name: radarr-config
          persistentVolumeClaim:
            claimName: radarr-config-pvc