apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: radarr-router
  namespace: arr
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`radarr.attias.io`)
      kind: Rule
      services:
        - name: radarr
          port: 7878
  tls:
    certResolver: le