apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: arr
  labels:
    app.kubernetes.io/name: radarr
  annotations:
    argocd-image-updater.argoproj.io/image-list: radarr=linuxserver/radarr:latest
    argocd-image-updater.argoproj.io/radarr.update-strategy: digest
    argocd-image-updater.argoproj.io/radarr.jsonpath: /spec/template/spec/containers/0/image
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: radarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: radarr
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: UTC
          name: radarr
          image: linuxserver/radarr:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 7878
              protocol: TCP
          volumeMounts:
            - mountPath: /data
              name: nas-media-volume
            - mountPath: /config
              name: radarr-config
      restartPolicy: Always
      volumes:
        - name: nas-media-volume
          hostPath:
            path: "/mnt/ugreen-media" 
            type: DirectoryOrCreate
        - name: radarr-config
          persistentVolumeClaim:
            claimName: radarr-config-pvc