apiVersion: apps/v1
kind: Deployment
metadata:
  name: sabnzbd
  namespace: arr
  labels:
    app.kubernetes.io/name: sabnzbd
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: sabnzbd
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sabnzbd
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Etc/UTC
          name: sabnzbd
          image: lscr.io/linuxserver/sabnzbd:4.5.5-ls239
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: nas-media-volume-sabnzbd
      restartPolicy: Always
      volumes:
        - name: nas-media-volume-sabnzbd
          hostPath:
            path: "/mnt/ugreen-media/sabnzbd" 
            type: DirectoryOrCreate