apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sabnzbd-router
  namespace: arr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`sabnzbd.kiki.home`)
      kind: Rule
      services:
        - name: sabnzbd
          port: 8080