apiVersion: apps/v1
kind: Deployment
metadata:
  name: sabnzbd
  namespace: arr
  labels:
    app.kubernetes.io/name: sabnzbd
  annotations:
    argocd-image-updater.argoproj.io/image-list: sabnzbd=linuxserver/sabnzbd:latest
    argocd-image-updater.argoproj.io/sabnzbd.update-strategy: digest
    argocd-image-updater.argoproj.io/sabnzbd.jsonpath: /spec/template/spec/containers/0/image
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: sabnzbd
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sabnzbd
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Etc/UTC
          image: lscr.io/linuxserver/sabnzbd:latest
          imagePullPolicy: Always
          name: sabnzbd
          ports:
            - containerPort: 8080
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: nas-media-volume-sabnzbd
      restartPolicy: Always
      volumes:
        - name: nas-media-volume-sabnzbd
          hostPath:
            path: "/mnt/ugreen-media/sabnzbd" 
            type: DirectoryOrCreate