apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sonarr-router
  namespace: arr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`sonarr.kiki.home`)
      kind: Rule
      services:
        - name: sonarr
          port: 8989