apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: soulsolid
  name: soulsolid-config-pvc
  namespace: arr
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-block