apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: transmission-router
  namespace: arr
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`transmission.attias.io`)
      kind: Rule
      services:
        - name: transmission
          port: 9091
  tls:
    certResolver: le