apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: transmission-router
  namespace: arr
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`transmission.kiki.home`)
      kind: Rule
      services:
        - name: transmission
          port: 9091