apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opencloud-config-pvc
  namespace: documents
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-block
  resources:
    requests:
      storage: 1Gi